@charset "UTF-8";

* {
	margin: 0;
	padding: 0;
}

body {
	margin: 50px 40px;
	font-family: sans-serif;
}

#title {
	color: black;
	font-size: 40px;
	text-align: center;
}

#text {
	color: #c0c0c0;
	font-size: 20px;
	text-align: center;
	padding-top: 30px;
}

#form {
	background-color: #f2f2f2;
	margin: 50px 170px;
	width: 860px;
	height: 480px;
}

#box1 {
	width: 400px;
	height: 50px;
	margin-left: 30px;
	font-size: 20px;
	border: 0;
	
}

#box2 {
	width: 400px;
	height: 50px;
	margin-left: 30px;
	margin-right: 30px;
	font-size: 20px;
	border: 0;
	
}

#content {
	width: 830px;
	height: 120px;
	margin-left: 30px;
	margin-right: 30px;
	font-size: 20px;
	border: 0;
}

#submit {
	width: 860px;
	height: 50px;
	background-color: #353535;
	color: white;
	margin-left: 30px;
	margin-right: 30px;
	font-size: 20px;
	border: 0;
}